.centrado{
    text-align: center;
    margin-top: 15%;
}
.fondo-claro{
    background-color: rgba(255, 255, 255, 0.4);
}
.justificado{
    justify-content: center;
    margin-left: 8%;
    margin-right: 8%;
}
.boton-inicio{
    background-color: rgb(218, 206, 206);
    top: 50%;
    border:none;
    border-radius:10px;
}